# Object files
.blktap.ko.cmd
*.o
*.ko
*.k.*
*.o.*
Module.symvers
.*.swp
blktap.mod.c
modules.order
.tmp_versions/
*.orig
*.rej

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

